
.containerIniziale{
  text-align: center;
  background-color: rgba(0, 0,0, 0.5);
  position: relative;
  margin:0 auto;
  top:250px;
  width: 70%;
  padding-top: 5%;
  padding-left: 1%;
  padding-bottom: 5%;
  padding-right: 1%;
  border-radius: 25px;
}
.logo{
  image-resolution: fixed;
  width: 25%;
  height: 25%;
}
.Sottotittolo{
  color: rgba(0, 230, 64, 1);
  font: bold 35px/2.0 Georgia, "Times New Roman", serif;
  text-align: center;
}

.submitElements{
  background-color: rgba(0, 230, 64, 1);
  width: 75%;
  padding: 2%, 2%;
  margin: auto;

}

.textColor{
  text-align: left;
  color:  rgba(255, 255, 255,  1);
  margin-left: 12%;
}
.myBar{
  color: rgba(244, 179, 80, 1);
  background-color: rgba(244, 179, 80, 1);
  width: 22%;
  border: 0%;
  padding: 0%;
  margin-left: : 0%;
  margin-top: 0%;
  margin-bottom: 2%;
  margin-right: 0%;
}
.myBar1{
  color: rgba(38, 166, 91, 1);
  background-color: rgba(38, 166, 91, 1);
  width: 35%;
  border: 0%;
  padding: 0%;
  margin-left: : 0%;
  margin-top: 0%;
  margin-bottom: 2%;
  margin-right: 0%;
}
.myBar2{
  color: rgba(217, 30, 24, 1);
  background-color: rgba(217, 30, 24, 1);
  width: 10%;
  border: 0%;
  padding: 0%;
  margin-left: : 0%;
  margin-top: 0%;
  margin-bottom: 2%;
  margin-right: 0%;
}
.checkbox{
  display: inline;
}
body{
background: url('./background.jpg') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
